@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme{
    --font-Releway:"Raleway";
    --color-Primary:#030712;
    --color-Secondary:#1DD100;

}

